@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {
  .btn {
    @layer font-bold py-2 px-4 rounded;
  }
  .btn-red {
    @layer bg-red-500 text-white;
  }
  .btn-red:hover {
    @layer bg-red-700;
  }
}
input[type=radio].radiobutton:checked {
  --background: #1d160b;
}
input[type=radio].radiobutton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background: var(--background);
  border-radius: 100%;
  border: var(--border);
  margin: 0px;
}
input[type=radio].radiobutton {
  --background: #ffffff;
  --inner-dot-display: block;
  --border: 1px solid #1d160b;
}
input[type=radio].radiobutton::after {
  content: "";
  display: var(--inner-dot-display);
  position: relative;
  top: 4px;
  left: 4px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #ffffff;
}
input[type=radio].radiobutton:disabled {
  background: rgba(0, 0, 0, 0.1);
  --border: 1px solid rgba(0, 0, 0, 0.1);
  --inner-dot-display: none;
}
.label-disabled {
  opacity: 0.6;
}